* {
    margin:0;
    padding: 0;
    border:0;
    list-style: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif ;
}

.cabecalho
{
background-color: #000000;
display: flex;
justify-content: space-between;
align-items: center;
margin-top: -7rem;

}
.cabecalho > img
{
    display: flex;
    justify-content: initial;
    
}


.menu li a /*mexe na tag a*/
{
color: rgb(218, 220, 221);
text-decoration: none; /*remove o subrlinhado da tag a*/
padding: 10px; /*gerou os botões para ancora no menu*/


}
.menu li a:hover /*muda as cores do menu ao passar o mouse*/
{
    color: rgb(94, 6, 28);
    border-color:white;
    transition: 0.8s;
}

.menu li
{
    
    
    margin-left: 10px; /*alinha o espaçamento */
}
.menu 
{
   
    list-style-type: none; /*remove as bolinhas sa ul li*/
    display: flex; /*alinha na horizontal*/
    
}
.secao1
{

    background: linear-gradient(180deg, #131313 8.33%, #13131377 100%), url(img/roda.jpg);
    background-repeat: no-repeat;
    background-size: cover; 
    padding: 25rem;
    color: white;
    margin-top: -25rem;
}
div
{
    
    margin-top: 8rem;
}

h1
{
   margin-right: 100rem;
    font-size: 5rem;
}
.secao1 a /*mexe na tag ancora da primeira section*/
{
    text-decoration: none;
    color: #797c83;
}

.secao1 a > button /*mexe no button*/
{
    padding: 20px;
    border-radius: 50px;
    width: 20vw;
    color: #1a191a;
    border-color: #1a191a;
    margin: 30px;
    font-size: 15px;
    cursor: pointer;
}
.secao1 button:hover /*muda as cores do botão ao passar o mouse*/
{
    background-color: #1a191a;
    border-color: white;
    transition: 0.8s;
    color: white;
}
.secao_flex 
{
display: flex;
flex-wrap: wrap; /*quebra o tamanho dos itens, parecido com uma quebra de texto*/
max-width: 800px; /*mexe na largura e dar tamanho maximo para section*/
margin: 0 auto; /*trouxe os itens da section para o centro*/
margin-bottom: 80px; /* mexe na mergin da parte inferior*/
text-align: center;

}
h1
{
    margin-top: 50px;
    text-align: center;
}
.secao_flex img
{
    max-width: 100%; /*adaptação maxima para imagen dentro da div ou pagina */
    display: block; /*reforç a que as imagens estejam em blocos */
}
.secao_flex div
{
    margin: 10px; /*Espaçamento das margens laterais superior e inferior*/
    flex: 1 1 200px; /*cria as caixinhas para as imagens ficarem centralizados no mesmo tamanho*/
}
.section_cards
{
    align-items: center;
    text-align: center;
    background-color: black;
    color: #ffffff;
    padding: 2rem;
    
}

.section_cards h3
{
    margin-bottom: -6rem;
    font-size: 2rem;
    text-align: center;

}

.card-container 
{
    margin-top: 2rem;
    display: flex;
    /* justify-content: space-around; */
    /* flex-wrap: wrap; */
    gap: 20px;
    padding: 20px;
    background: linear-gradient(180deg, #131313 8.33%, #13131377 100%);
    justify-content: center;
    
}

.card /*card nome dado aas*/
{
    width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.card img /*img dentro do card*/
{
    
    width: 6rem;
    height: auto;
    margin-bottom: 15px;
}

.card h3 /*h3 dentro do card*/
{
    color: #333333;
    font-size: 20px;
    margin-bottom: 10px;
}

.card p /*Paragrafor dentro do card*/
{
    color: #666666;
    font-size: 16px;
}

.cta-button /* botão agnde sua consulta*/
 {
    display: inline-block;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.8s;
  
    
}

.cta-button:hover /* rover do agnde sua consulta*/
{
    background-color: #0056b3;
}

#container
{
    background: linear-gradient(180deg, #131313 8.33%, #13131377 100%), url(); 
     /*alinha imagem ao centro*/
    padding: 3rem;
    display: flex;
    align-items: center;
    
}
#container ol
{
    text-align: left;
}

#container li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
    color: white;
}

#container img /**/
{
    width: 25vw;
    /* margin-top: 10rem; */
    /* height: auto; */
    flex-wrap: wrap;
}
#container h2 
{
    color: white;
    font-size: 30px;
    text-align: center;
}
#container p
 {
    color: white;
    /* font-size: 17px; */
    text-align: left;
     margin-top: 2rem;
    font-weight: 800; /*deixa a fonte mais larga como se fosse um BOLD mais */
} 

.subscribe
{
    color: white;
    padding: 10rem;
    text-align: center;
    background: linear-gradient(180deg, #131313 8.33%, #13131377 100%)
}
.subscribe h3
{
font-size: 2rem;}

.subscribe p
{
    margin-top: 1rem;
}


.subscribe > input
{
    margin-top: 1rem;
    
}

.textBox
{
    width: 20rem;
    height: 3rem;
}

.submit
{
    width: 10rem;
    height: 3rem;
}


.rodape
{
background-color: #0c0c0c;
/* padding: 1rem; */
color: aliceblue;
display: flex; 
justify-content: space-between;
align-items: center;



}
.list_rodape
{
display: flex; 

}
.list_rodape li
{
     margin-right: 20px; 
    list-style: none;
}
.list_rodape li a 
{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px;
    
}
.div_footer
{
    font-size: 30px;
    color: aliceblue;
    /*alinha o espaçamento */
    
}

.a_footer:hover
{
    
    color: rgb(23, 86, 150);
    border-color:black;
    transition: 0,7s;
}
/*h2
{
text-align: center;
margin-top: 50px;
font-size: 50px;

}*/
.youtube
{
    color: red;
}
.twiter
{
    color: rgb(0, 158, 250);
}
.instagran
{
    color: rgb(250, 0, 154);
}
.zap
{
    color: rgb(6, 177, 43);
}
.lineOne
{
    margin: 0 auto;
}